<form method="get" action="/quizes/<%= quiz.id %>/answer">        
  Pregunta: <%= quiz.pregunta %> <p>
   <input placeholder="Respuesta" type="text" name="respuesta" />
	</button><button class="waves-effect waves-teal btn-flat" type="sumit">Enviar<i class="mdi-content-send right"></i>
	</button>
	<a href="/quizes">
	<button class="waves-effect waves-teal btn-flat" type="button">Volver<i class="mdi-content-undo right"></i>
  	</button></a>
 </form>

<p><a href="/quizes/<%= quiz.id %>/comments/new">
<button class="waves-effect waves-teal btn-flat" type="button">Nuevo comentario</button></a></p>

<p><strong>Comentarios:</strong></p>
<%for(index in quiz.Comments){%>
	<%if(quiz.Comments[index].publicado || session.user){%>
		<p>- <%=quiz.Comments[index].texto%>
			<%if(session.user && !quiz.Comments[index].publicado){%>
				<a href="/quizes/<%= quiz.id %>/comments/<%=quiz.Comments[index].id%>/publish"><button>Publicar</button></a>
			<%}%>
		</p>
	<%}%>	
<%}%>
