<h2>Estadisticas</h2>
<ul class="collection">
  <li class="collection-item">Numero de preguntas: <%= statistics.quiz_count %></li>
  <li class="collection-item">Numero de comentarios: <%= statistics.comment_count %></li>
  <li class="collection-item">Numero medio de comentarios por pregunta: <%= statistics.avg_comments_per_quiz %></li>
  <li class="collection-item">Numero de preguntas con comentarios: <%= statistics.quiz_count_w_comments %></li>
  <li class="collection-item">Numero de preguntas sin comentarios: <%= statistics.quiz_count_wo_comments %></li>
</ul>